*.class 
 
# Mobile Tools for Java (J2ME) 
.mtj.tmp/ 
 
# Package Files # 
*.jar 
*.war 
*.ear 
 
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml 
hs_err_pid*
*.zip

# Eclipse IDE common artfacts
.DS_Store
*.classpath
*.settings
*.project
.security/
.metadata/

# Project specific artifacts
weatherData/target/
wordCount/target/
climateAnalysis/target/
climateTimeSeries/target/
